<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <center>
        <h1>Quora (Online Posting)</h1>
        <div >
            <% for( post of posts) { %>
                <div class="post">
                    <h2 class="user">user :<%= post.id %></h2>
                <h2 class="user">user :<%= post.username %></h2>
                <h3 class="content"><%= post.content %></h3> <br>
                <a href="http://localhost:3000/posts/<%=post.id%>">View Post</a>
                <a href="http://localhost:3000/posts/<%=post.id%>/edit">Edit Post</a>
                <form action="/posts/<%=post.id%>?_method=DELETE" method="post">

                    <button>delete post</button>


                </form>
            </div>
                <%}%>
                <a href="http://localhost:3000/posts/new">Add new POST</a>


        </div>
    </center>
</body>
</html>